@charset "utf-8";
/* CSS Document */

body{
	margin:0;
	padding:0;
	background-color:#FFFFFF;
}
	

#top{
	width:100%;
	height:120px;
	margin:0 auto;
	padding-top:30px;
	background-color:#0b6951;
	position: relative;
}

.top-logo {
	position: absolute;
	margin-left: 20px;
}

.top-tittle {
	text-align: center;
	font-family:Arial;
	font-size: 40px;
	color: #FFFFFF;
}

#menu{
	width:80%;
	height:50px;
	background-color:#0bdb51;
	text-align:center;
	margin: 0 auto;
}

#conteudo{
	width:916px;
	min-height:400px;
	margin-left:100px;
	margin-top:50px;
	background-color:#FFFFFF;
	padding-left: 10px;
}

#rodape{
	width:100%;
	height:20px;
	margin-top:100px;
	background-color:#FFFFFF;
	font-family:Arial;
	font-size: 9px;
	color: #000000;
	text-align:center;
}

.menu-letter{
	margin-left: 30px;
	display:inline-block;
}
.menu-letter a{
	font-family:Arial;
	font-size: 24px;
	color:#FFFFFF;
	text-decoration: none;
}

.menu-letter a:hover{
	color:#000000;
}

.link a{
	font-family:Arial;
	font-size: 14px;
	color:#0000FF;
	text-decoration: none;
}

.link a:hover{
	text-decoration:underline;
}