@charset "utf-8";
/* CSS Document */

body{
	margin:0;
	padding:0;
	background-color:#FFFFFF;
}
	

#top{
	width:100%;
	height:120px;
	margin:0 auto;
	padding-top:30px;
	background-color:#0b6951;
	position: relative;
}

.top-logo {
	position: absolute;
	left: 20px;
}

.top-tittle {
	text-align: center;
	font-family:Arial;
	font-size: 40px;
	color: #FFFFFF;
}


ul {
	list-style-type: none;
}

li a{
	color: #FFFFFF;
	text-decoration: none;
}

li a:hover{
	color:#000000;
}

#menu{
	width:80%;
	height:50px;
	background-color:#0bdb51;
	text-align:center;
	margin: 0 auto;
}

.submenu {
  display: none;
  position: absolute;
  background-color:#0bdb51;
}

.option{
	display: inline-block;
	position: relative;
  	margin-right: 30px;
	font-family:Arial;
	font-size: 24px;
}

.option:hover .submenu {
  display: block;
}

.suboption{
	font-family:Arial;
	font-size: 18px;
}


#conteudo{
	width:916px;
	min-height:400px;
	margin-left:100px;
	margin-top:50px;
	background-color:#FFFFFF;
	padding-left: 10px;
}

#rodape{
	width:100%;
	height:20px;
	margin-top:100px;
	background-color:#FFFFFF;
	font-family:Arial;
	font-size: 9px;
	color: #000000;
	text-align:center;
}

.link a{
	font-family:Arial;
	font-size: 14px;
	color:#0000FF;
	text-decoration: none;
}

.link a:hover{
	text-decoration:underline;
}